<div class="backdrop-blur h-full w-full absolute z-30 top-0 left-0 px-10" (click)="close()"></div>

<!--<div-->
<!--  class="h-full w-full absolute bg-white/20 z-30 backdrop-blur-md flex flex-col"-->
<!--&gt;-->
<div
  class="h-full container mx-auto left-0 right-0 absolute bg-white/20 z-40 flex flex-col"
>
  <div class="w-full h-12 mt-16 mb-10 flex bg-synogray-80 rounded-xl border border-synogray-400 p-2">
    <i-tabler name="search" class="my-auto h-8 ml-1.5 mr-2"/>
    <input
      [(ngModel)]="searchterm"
      placeholder="Enter your search term here"
      class="w-full h-full focus-visible:outline-none text-black bg-transparent"
    />
    <button (click)="close()" class="my-auto text-black mr-1.5 ml-2 flex justify-center">
      <i-tabler name="x" class="block"/>
    </button>
  </div>
  <div class="w-full flex-1 mb-16">
    <div
      class="w-full h-full bg-synogray-80 rounded-xl border border-synogray-400"
    ></div>
  </div>
</div>
