**/*.md
**/*.sqlite3
**/*.user
**/.DS_Store
**/.angular/
**/.dockerignore
**/.editorconfig
**/.gitignore
**/.idea
**/.vscode
**/bin/
**/keys/
**/node_modules/
**/obj/
.git/
.github/
.pre-commit-config.yaml
CODEOWNERS
