<div class="mb-6 flex-row">
  <label class="block mb-2 text-sm font-medium text-gray-900" for="password">Passwort</label>
  <input #password
         (input)="valid = password.checkValidity()"
         [ngClass]="{'bg-green-50 text-green-700 dark:text-green-400 placeholder-green-700 dark:placeholder-green-500 ring-green-500 border border-green-500 dark:border-green-700 focus:ring-green-500 focus:border-green-500':valid, 'bg-red-50':!valid}"
         id="password"
         placeholder="Passwort eingeben" required
         title="Gib ein valides Passwort ein!"
         type="password"><br>
  <label *ngIf="!valid"
         class="text-red-700 text-xs dark:text-red-400 placeholder-red-700 dark:placeholder-red-500 ring-red-500 border-red-500">Bitte
    geben Sie ein valides Password ein!</label>
</div>
