<label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Passwort</label><br>
<input #password
       (input)="valid = password.checkValidity()"
       id="password" placeholder="test" required
       title="Gib ein valides Passwort ein!" type="password">
<br>
<label *ngIf="!valid"
       class="text-red-700 dark:text-red-400 placeholder-red-700 dark:placeholder-red-500 ring-red-500 border-red-500"
       style="color: red; font-size: 10pt">Bitte geben Sie ein valides Password ein!</label>
