<div class="h-5 flex items-center justify-between my-12">
  <a class="text-xs text-[#656565]" routerLink="/credits">
    © Designed & Coded by 5ABC 22/23, Bickisitieff, Waterbyte, Vortexdotn
  </a>
  <div
    class="flex justify-center items-center gap-3 border p-[6px] rounded-xl bg-white/50 backdrop-blur-lg">
    <p class="text-xs text-[#656565] mx-2">
      Change User or leave application? ->
    </p>
    <syno-button (click)="logout()">
      <div
        class="flex justify-center items-center w-full h-full px-3 text-black cursor-pointer">
        <p class="font-bold text-xs flex-1 w-[100px]">logout</p>
        <i-tabler name="logout" class="scale-75"></i-tabler>
      </div>
    </syno-button>
  </div>
</div>
