<div class="h-5 flex items-center justify-between">
  <p class="text-xs text-[#656565]">
    © Designed & Coded by 5ABC 22/23, Bickisitieff, Waterbyte, Vortexdotn
  </p>
  <div class="flex justify-center items-center gap-3 border p-3 rounded-xl">
    <p class="text-xs text-[#656565]">Change User or leave application? -></p>
    <app-syno-btn>
      <div class="flex justify-center items-center w-full h-full px-3">
        <p class="font-bold flex-1 w-[100px]">logout</p>
        <i-tabler name="logout"></i-tabler>
      </div>
    </app-syno-btn>
  </div>
</div>
