<div class="m-5">
  <div class="flex flex-row items-center gap-8">
    <label>Benachrichtigungen</label>
    <label class="inline-flex relative items-center cursor-pointer">
      <input class="sr-only peer" type="checkbox" value="">
      <div
        class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-gray-600"></div>
      <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300"></span>
    </label>
  </div>
  <div class="mt-5">
    <label>Anmeldedaten</label>

    <div class="border border-gray-200 rounded-xl overflow-hidden shadow-md shadow-gray-500/50" data-accordion="open"
         id="accordion-credentials">

      <div *ngFor="let credential of credentials">
        <h2 class="inner" id="accordion-{{credential}}-heading">
          <button [ngClass]="{'rounded-t-xl bg-transparent text-inherit': credential === credentials[0]}" aria-controls="accordion-credentials-body-3"
                  aria-expanded="false"
                  class="flex items-center justify-between w-full p-3 font-medium text-left text-inherit border-b border-b-gray-200" data-accordion-target="#accordion-credentials-body-3"
                  type="button">
            <span>{{credential}}</span>
            <svg class="w-6 h-6 shrink-0" data-accordion-icon fill="none" stroke="currentColor" stroke-width="1.5"
                 viewBox="0 0 24 24"
                 xmlns="http://www.w3.org/2000/svg">
              <path
                d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
            <!--

            'rounded-b-xl': credential === credentials[credentials.length-1]
             'rounded-b-xl': credential === credentials[credentials.length-1] && test.ariaExpanded === 'false', 'rounded-none': credential === credentials[credentials.length-1] && test.ariaExpanded === 'true'}" #test

            svg class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg-->
          </button>
        </h2>
        <div attr.aria-labelledby="accordion-{{credential}}-heading" class="hidden" id="accordion-{{credential}}-body">
          <div class="p-5 font-light border-b border-t-0 border-gray-200">
            <div class="flex flex-col items-center justify-center v-screen mb-0 p-5 border border-gray-200">
              <syno-email class="mb-0"></syno-email> <!-- todo change mb in component to 0-->
              <syno-password></syno-password>
              <syno-button>Save</syno-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--div id="accordion-collapse" data-accordion="collapse">
    <!h2 id="credentials-webuntis-header">
      <button aria-controls="accordion-example-body-1"
              aria-expanded="true"
              class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800"
              type="button">
        <span>Webuntis</span>
        <svg class="w-6 h-6 shrink-0" aria-hidden="true" data-accordion-icon fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
          <path d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" stroke-linecap="round"
                stroke-linejoin="round"></path>
        </svg>
      </button>
    </h2>
    <div aria-labelledby="accordion-example-heading-1" class="hidden" id="credentials-webuntis-body">
      <div class="flex flex-col items-center justify-center v-screen mb-0 p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
        <syno-email class="mb-0"></syno-email> < todo change mb in component to 0>
        <syno-password></syno-password>
        <syno-button>Save</syno-button>
      </div>
    </div>
<class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800"
                >
    <div *ngFor="let credential of credentials">
      <h2 id="credentials-{{credential}}-header">
        <button [attr.aria-labelledby]="'accordion-{{credential}}-body'"
                aria-expanded="false"
                class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800"
                type="button">
          <span>{{credential}}</span>
          <svg class="w-6 h-6 shrink-0" data-accordion-icon fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
               xmlns="http://www.w3.org/2000/svg">
            <path d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" stroke-linecap="round"
                  stroke-linejoin="round"></path>
          </svg> <todo aria-hidden="true">
        </button>
      </h2>
      <!-div [attr.aria-labelledby]="'accordion-{{credential}}-heading'" class="hidden" id="credentials-{{credential}}-body">
        <div class="flex flex-col items-center justify-center v-screen mb-0 p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
          <syno-email class="mb-0"></syno-email> <todo change mb in component to 0>
          <syno-password></syno-password>
          <syno-button>Save</syno-button>
        </div>
      </div->
    </div>
    <!-h2 id="accordion-example-heading-2">
      <button aria-controls="accordion-example-body-2"
              aria-expanded="false"
              class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800"
              type="button">
        <span>Is there a Figma file available?</span>
        <svg class="w-6 h-6 shrink-0" data-accordion-icon fill="currentColor" viewBox="0 0 20 20"
             xmlns="http://www.w3.org/2000/svg">
          <path clip-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                fill-rule="evenodd"></path>
        </svg>
      </button>
    </h2>
    <div aria-labelledby="accordion-example-heading-2" class="hidden" id="accordion-example-body-2">
      <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700">
        <p class="mb-2 text-gray-500 dark:text-gray-400">Flowbite is first conceptualized and designed using the Figma
          software so everything you see in the library has a design equivalent in our Figma file.</p>
      </div>
    </div>
    <h2 id="accordion-example-heading-3">
      <button aria-controls="accordion-example-body-3"
              aria-expanded="false"
              class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800"
              type="button">
        <span>What are the differences between Flowbite and Tailwind UI?</span>
        <svg class="w-6 h-6 shrink-0" data-accordion-icon fill="currentColor" viewBox="0 0 20 20"
             xmlns="http://www.w3.org/2000/svg">
          <path clip-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                fill-rule="evenodd"></path>
        </svg>
      </button>
    </h2>
    <div aria-labelledby="accordion-example-heading-3" class="hidden" id="accordion-example-body-3">
      <div class="p-5 border border-t-0 border-gray-200 dark:border-gray-700">
        <p class="mb-2 text-gray-500 dark:text-gray-400">The main difference is that the core components from Flowbite are
          open source under the MIT license, whereas Tailwind UI is a paid product. Another difference is that Flowbite
          relies on smaller and standalone components, whereas Tailwind UI offers sections of pages.</p>
        <p class="mb-2 text-gray-500 dark:text-gray-400">However, we actually recommend using both Flowbite, Flowbite Pro,
          and even Tailwind UI as there is no technical reason stopping you from using the best of two worlds.</p>
        <p class="mb-2 text-gray-500 dark:text-gray-400">Learn more about these technologies:</p>
      </div>
    </div>
  </div-->
</div>


<!-- TOOGLE BUTTON
div class="inline-flex rounded-md shadow-sm" role="group">
  <button type="button" [ngClass]="{'bg-gray-800':checked,'bg-gray-700':!checked}" (click)="checked=true;click()" class="py-2 px-4 text-sm font-medium text-gray-900 rounded-l-lg border border-gray-200 hover:bg-gray-900 hover:text-blue-700 focus:z-10 focus:text-blue-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:focus:ring-blue-500 dark:focus:text-white">
    Ein
  </button>
  <button type="button" [ngClass]="{'bg-gray-600':checked, 'bg-gray-800':!checked}" (click)="checked=false;click()" class="py-2 px-4 text-sm font-medium text-gray-900 rounded-r-lg border-t border-b border-gray-200 hover:bg-gray-900  hover:text-blue-700 focus:z-10  focus:text-blue-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:focus:ring-blue-500 dark:focus:text-white">
    Aus
  </button>
</div-->
