<th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap">
  {{plugin.name}}
</th>
<td class="py-4 px-6">
  {{plugin.endDate ? (toNumber(plugin.endDate) * 1000 | date) : '-'}}
</td>
<td class="py-4 px-6">
  {{plugin.teachers.join(', ')}}
</td>
<td class="py-4 px-6">
  <syno-tag *ngFor="let tag of plugin.tags" [name]="tag"></syno-tag>
</td>
<td>
  <button
    class="px-6"
    (click)="changeFavorite(); $event.stopPropagation()">
    <i-tabler name="star"
              [ngClass]="plugin.isFavourite ? 'fill-yellow-400 text-yellow-400' : 'text-gray-500 hover:text-yellow-400'"/>
  </button>
</td>
