<div
  class="border-[1.4px] w-20 border-synogray-100 bg-white/50 backdrop-blur-lg rounded-2xl p-4 relative h-full"
>
  sd Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi hic nihil
  alias sapiente, esse illum minus sint expedita, corporis quas architecto
  minima dolore doloribus voluptatibus asperiores facilis numquam aut beatae?
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis minima quos
  quam eos qui pariatur vitae explicabo, dignissimos, id ad, velit omnis
  accusamus doloribus blanditiis nisi quasi quisquam atque ex. Lorem ipsum dolor
  sit amet consectetur, adipisicing elit. Debitis minima quos quam eos qui
  pariatur vitae explicabo, dignissimos, id ad, velit omnis accusamus doloribus
  blanditiis nisi quasi quisquam atque ex. Lorem ipsum dolor sit amet
  consectetur, adipisicing elit. Debitis minima quos quam eos qui pariatur vitae
  explicabo, dignissimos, id ad, velit omnis accusamus doloribus blanditiis nisi
  quasi quisquam atque ex. Lorem ipsum dolor sit amet consectetur, adipisicing
  elit. Debitis minima quos quam eos qui pariatur vitae explicabo, dignissimos,
  id ad, velit omnis accusamus doloribus blanditiis nisi quasi quisquam atque
  ex. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis minima
  quos quam eos qui pariatur vitae explicabo, dignissimos, id ad, velit omnis
  accusamus doloribus blanditiis nisi quasi quisquam atque ex.
</div>
