<div
  class="border-[1.4px] border-synogray-100 bg-white/50 backdrop-blur-lg rounded-2xl p-8 relative h-full w-full overflow-scroll"
>
  <h1 class="text-4xl font-bold mb-5">Stoatseitn</h1>
  JWT: {{ jwtPayload | json }} Plugins : {{ plugins | json }}

  <button
    type="button"
    (click)="navService.openPlugin('polls')"
    class="bg-red-700"
  >
    Navigate to polls
  </button>
  <button
    type="button"
    (click)="navService.openPlugin('quote-of-today')"
    class="bg-red-700"
  >
    Navigate to quote-of-today
  </button>

  <!--<mainframe-plugin-placeholder style="width: 500px; height: 500px; display: block"></mainframe-plugin-placeholder>-->

  <app-dashboard *ngIf="showDashboard" [plugins]="plugins"></app-dashboard>
  <app-list-view *ngIf="!showDashboard" [plugins]="plugins"></app-list-view>
</div>
