<button
  class="ml-4 h-10 w-44 relative rounded-lg whitespace-nowrap overflow-hidden bg-gray-80 border-gray-80 border-2 hover:ring-4 focus:ring-5 focus:ring-blue-400 hover:ring-blue-500 block"
>
  <p class="text-left ml-3">{{ title }}</p>
  <div class="w-full h-full absolute top-0">
    <div
      class="w-2/6 h-full absolute right-0 bg-gradient-to-l from-gray-80"
    ></div>
  </div>
  <button
    class="absolute flex top-1/2 -translate-y-1/2 right-[6px] focus:border-none border-none"
  >
    <i-tabler style="height: 16px; width: 16px" name="x"></i-tabler>
  </button>
</button>
