<li
  [ngClass]="
    'cursor-pointer relative  border-[1px] border-gray-300 text-gray-900 h-[35px] whitespace-nowrap text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 hover:fill-black hover:stroke-black flex flex-row items-center  fill-synogray-80 hover:fill-black hover:stroke-black pl-3 overflow-hidden w-[160px] bg-red-200' +
    (plugin?.active ? 'bg-white' : 'bg-synogray-50 border-synogray-400/40')
  "
>
  <div
    (click)="showPlugin()"
    class="flex w-full overflow-hidden font-normal h-full items-center"
  >
    {{ plugin?.name }}
  </div>
  <div
    [ngClass]="
      'h-full w-20 right-0 top-0 bg-gradient-to-r from-transparent to-white rounded-lg absolute' +
      (plugin?.active ? ' to-white' : ' bg-transparent')
    "
  ></div>
  <button
    (click)="closeTabClick()"
    class="right-1 h-full bg-gradient-to-l from-white-500 absolute"
  >
    <svg
      width="17"
      height="17"
      viewBox="0 0 12 12"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M9.12676 2.90445L2.90454 9.12667"
        stroke-width="0.82963"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M2.90454 2.90445L9.12676 9.12667"
        stroke-width="0.82963"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <rect x="4.98193" y="4.98175" width="2" height="2" />
    </svg>
  </button>
</li>
