li {
  color: #050505;
  width: 170px;
  text-overflow: ellipsis;
  height: 35px;
  white-space: nowrap;
  text-align: left;
  background-color: lightgray;
}

button {
  padding: 3px;
  margin-right: 3px;
}
