<div class="container mx-auto h-screen">
  <div class="fixed top-0 left-0 p-10">
    <span class="logo-placeholder w-6 rounded-full inline-block mr-4"></span>
    <h1 class="text-4xl font-bold inline-block">Synopsis</h1>
  </div>
  <div class="columns-2 h-full">
    <div class="h-full flex">
      <div class="my-auto">
        <h1 class="text-3xl font-bold">Welcome to HTL Grieskirchen Core!</h1>
        <p class="mb-10">Please enter your credentials</p>

        <!-- TODO: make less ugly -->
        <h2 *ngIf="error !== null" class="text-red-500 font-bold mb-4">{{error}}</h2>

        <form>
          <label for="user" class="block mb-1 text-sm font-medium text-gray-900"
            >Username</label
          >
          <input
            type="text"
            id="user"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 mb-5"
            placeholder="Enter your Username"
            required
            [(ngModel)]="username"
            name="username"
          />

          <label for="pass" class="block mb-1 text-sm font-medium text-gray-900"
            >Password</label
          >
          <input
            type="password"
            id="pass"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 mb-5"
            placeholder="Enter your password"
            required
            [(ngModel)]="password"
            name="password"
          />

          <!-- TODO: display loading and disabled state -->

          <button
            (click)="login()"
            [disabled]="loading"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center mb-5"
          >
            Login
          </button>
        </form>

        <button
          type="button"
          class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mt-10 w-full"
        >
          Login with Microsoft
        </button>

        <p class="text-center mt-10">
          First time here? ->
          <a routerLink="/onboarding" class="underline">
            <span
              class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400"
              >Get Started</span
            >
          </a>
        </p>
      </div>
    </div>
    <div class="h-full">
      <app-daily-quote></app-daily-quote>
    </div>
  </div>
  <div class="fixed bottom-0 left-0 p-10">
    <p class="text-xs text-[#656565]">© Coded by 5ABC 22/23</p>
    <p class="text-xs text-[#656565]">© Designed & Coded by Waterbyte</p>
  </div>
</div>
