<nav
  class="flex flex-row items-center justify-between relative my-10 h-10"
>
  <div class="flex flex-row items-center">
    <div class="logo-placeholder w-[2.3rem] rounded-full inline-block mr-6 p-4 left-0"></div>
    <ul
      class="text-sm font-medium gap-3 text-synogray-500 flex"
    >
      <app-tab *ngFor="let tab of tabs" [title]="tab.name" [isActive]="tab.active" (closeTab)="closeTabClick(tab)"
               (openTab)="showPlugin(tab)"></app-tab>
    </ul>
  </div>

  <div class="flex flex-row items-center gap-2 h-full"  *ngIf="!settingsShown">
    <syno-icon-button (click)="searchClicked()">
      <i-tabler name="search" class="navbar-icon-scale"/>
    </syno-icon-button>
    <syno-switch (stateChanged)="changeView()">
      <i-tabler name="layout-grid" class="navbar-icon-scale"/>
      <i-tabler name="list" class="navbar-icon-scale"/>
    </syno-switch>
    <syno-icon-button (click)="showSettings()">
      <i-tabler name="settings" class="navbar-icon-scale"/>
    </syno-icon-button>
  </div>
</nav>
