<nav
  class="flex flex-row items-center justify-between relative mt-10 mb-10"
  [ngClass]="{ blur: showSearchBar }"
>
  <div class="flex flex-row items-center">
    <div class="logo-placeholder w-6 rounded-full inline-block mr-4 p-4 left-0">

    </div>
    <ul
      class="text-sm font-medium text-center text-synogray-500 rounded-lg sm:flex dark:text-gray-400 overflow-hidden gap-2"
    >
      <app-tab
        (closeTab)="closeTab(tab)"
        [isActive]="openTab === tab"
        (openTab)="open(tab)"
        *ngFor="let tab of tabs"
        [title]="tab"
      ></app-tab>
    </ul>
  </div>
  <div class="flex flex-row items-center gap-2">
	<button (click)="searchClicked()" class="w-[30px] h-[30px] flex justify-center items-center hover:ring-2 hover:ring-synogray-600/50 bg-synogray-0 rounded-full">
		<i-tabler name="search" class="navbar-icon-scale" />
	</button>
    <div class="flex flex-row rounded-full p-[3px]  justify-center items-center bg-synogray-210 gap-1" (click)="changeView()" >
        <button class="w-[25px] h-[25px] flex justify-center rounded-full hover:ring-2 hover:ring-synogray-600/50  items-center" [ngClass]="{ isSelectedView: viewGrid }">
          <i-tabler name="layout-grid" class="navbar-icon-scale"/>
        </button>
        <button class="w-[25px] h-[25px] flex justify-center rounded-full hover:ring-2 hover:ring-synogray-600/50 items-center" [ngClass]="{ isSelectedView: !viewGrid }">
			<i-tabler name="list" class="navbar-icon-scale" />
        </button>
	</div>

	<button (click)="showSettings()" class="h-[30px] w-[30px] flex justify-center items-center bg-white hover:ring-2 hover:ring-synogray-600/50 rounded-full">
		<i-tabler name="settings" class="navbar-icon-scale"/>
	</button>
  </div>
</nav>

<div *ngIf="showSearchBar">
  <div class="searchBar flex align-items-center">
    <button class="m-1">
     <i-tabler name="search" class="navbar-icon-scale"/>
    </button>
    <input
      style="color: black"
      placeholder="Enter your search term"
      class="no-outline"
    />
    <button (click)="closeSearchBar()" class="closeBtn">
		<i-tabler name="x" class="navbar-icon-scale"/>

    </button>
  </div>
</div>
