.logo-placeholder {
  aspect-ratio: 1;
  background: radial-gradient(
    134.78% 134.78% at 82.61% 10.87%,
    #0500ed 0%,
    #42ff00 100%
  );
}

input {
  background-color: transparent;
}

.searchBar {
  border-radius: 25px;
  background-color: lightgray;
  margin-top: 10px;
}

.no-outline {
  outline: none;
}

.btnRound {
  border-radius: 25px;
  background-color: transparent;
}

.edgesRound {
  border-radius: 25px;
  background-color: lightgray;
}

.blur {
  background-color: #fff;
  opacity: 0.2;
}

ul {
  background-color: transparent;
}

.closeBtn {
  margin-left: auto;
  margin-right: 10px;
  color: black;
}

::placeholder {
  color: black;
  opacity: 1;
}

.navbar-icon-scale {
  transform: scale(0.7);
}
