html, body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

#login-container, #nav-container, #plugin-container {
  position: absolute;
}

iframe {
  height: 100vh;
  width: 100vw;
  border: 0;
}

#plugin-container > iframe {
  height: 100%;
  width: 100%;
}
