<div style="display: flex; flex-direction: column">
  <label style="font-size: small">{{label}}</label>
  <input [(ngModel)]="value" (ngModelChange)="onChange($event)" id="default"  (click)="setValue(value)"
         (select)="onSelect($event)" (dblclick)="onDblCLick($event)"
         (keydown)="onKeyDown($event)" (keyup)="onKeyUp($event)"
         (change)="setValue(value)"
         [autocapitalize]="autocapitalize" [routerLink]="routerLink"
         [value]="value" [style]="style"
         [placeholder]="placeholder"
         [disabled]="disabled" [maxLength]="maxLength ?? 265"
         [minLength]="minLength" [required]="required" [pattern]="pattern">
</div>
